
.content1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
}
.sub-head{
    color: #001AFF;
}
.comm-head{
    margin-bottom: -2%;
}
.category{
    text-align: left;
    display: flex;
    margin-top: 5%;
    margin-left: 11%;
}

.hackathon{
    margin-right: 10%;
}
.bootcamp{
    margin-right: 10%;
}

.hackathon1{
    margin-top: -88%;
    text-align: center;
}
.bootcamp1{
    margin-top: -88%;
    text-align: center;
}
.internship1{
    margin-top: -88%;
    text-align: center;
}

.hack{
    color: #0029FF;
}
.boot{
    color: #0029FF;
}
.intern{
    color: #0029FF;
}

.part{
    color: #29009D;
    font-size: 21px;
}
.build{
    color: #29009D;
    font-size: 21px;
}
.work{
    color: #29009D;
    font-size: 21px;
}

.learn1{
    font-size: 21px;
}
.learn2{
    font-size: 21px;
}
.learn3{
    font-size: 21px;
}
.win{
    font-size: 21px;
}
.together{
    font-size: 21px;
}

.know1{
    color: #FF0000;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
}
.know2{
    color: #FF0000;
    text-decoration: underline;
    font-size: 18px;
}
.know3{
    color: #FF0000;
    text-decoration: underline;
    font-size: 18px;
}

