.contact-us{
    background: #F6F6F6;
    display:flex;
    pading:5%;
    margin:0 auto;
    justify-content: space-around;
}

.contact-text{
    font-weight:bold;
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(to right,blue 0%, blue 25%, red 50%, #F0FF42 75%, green 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mail-img{
    width:4%;
    margin: 0 1rem;
}

.contact-img{
    margin:0 20%;
}

.contact-news{
    margin: auto;
}

.contact-news-heading{
    font-weight:bold;
    margin:0;
    text-align: center;
}

.contact-news-text{
    margin:0;
    text-align: center;
}

.contact-news-input{
    margin: 1rem auto;
    width: 30rem;
}

.mail-input{
    border:2px solid white;
    width:20rem;
    height:2rem;
    font-size:1rem;

}

.mail-btn{
    border:none;
    width:9rem;
    height:2.4rem;
    border-radius-top-left:20%;
    background-color:red;
    color:white;
    font-size:1rem;
    font-weight:bold;
}