.event{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 8%;
}
.e-head{
    text-align: center;
}
.event-sub{
    color: #1400FF;
}

.list{
    display: flex;
    margin-top: 3%;
}
.event-left{
    margin-top: -117%;
    height: 186%;
}

.event1{
    text-align: center;
    background-color: #E9F4FF;
    height: fit-content;
    border-radius: 4%;
    margin-left: 6%;
    width: 21%;
    height: 390px;
}
.event2{
    text-align: center;
    background-color: #E9F4FF;
    height: fit-content;
    border-radius: 4%;
    margin-left: 4%;
    width: 21%;
    height: 390px;
}
.event3{
    text-align: center;
    background-color: #E9F4FF;
    height: fit-content;
    border-radius: 4%;
    margin-left: 4%;
    width: 21%;
    height: 390px;
}

.event-1{
    width: fit-content;
    height: fit-content;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

.e-content{
    font-size: 1.7rem;
    text-align: left;
    margin-left: 12%;
    margin-top: -5%;
}
.e1-head{
    color: #FF0000;
}

.date1{
    font-size: 17px;
    margin-top: -6%;
}
.time1{
    font-size: 17px;
}
.btn{
    text-align: center;
}
.register1{
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 21px;
    width: 52%;
    height: 38px;
    margin-top: 3%;
}